<div class="ljbg">
<h1 class="ljhead">About Me</h1>
<p class="ljp">Learn more about MySelf.</p>

    <div class="ljcol">
      <h2>HOBBIES</h2>
      <p>Playing Guitar</p>
      <p>Watching Animes and Movies</p>
      <p>Reading Some Manwha or Webtoons</p>
    </div>
    <div class="ljcol">
        <h2>SKILLS</h2> 
        <p>Programmer</p>
        <p>Web Designer</p>
        <p>Game Developer</p>
    </div>
    <div class="ljcol">
        <h2>TALENTS</h2>
        <p>Dancing</p>
        <p>Singing</p>
        <p>Guitarist</p>
    </div>

</div>