<div class="ljbg">
    <img src="https://scontent.fceb1-1.fna.fbcdn.net/v/t39.30808-6/366566083_989296495516410_1571071478961839917_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF9GeQN_YKP1vu6ErSqDFdJQSgws8Fn_GFBKDCzwWf8Yc1VL14Supq-v09g6WVR3mPcJehH6h9gjqrz43gzAdMg&_nc_ohc=vbusm72NpAwAX_ETSW8&_nc_zt=23&_nc_ht=scontent.fceb1-1.fna&oh=00_AfB43N7J28iEG7I0SZMCUQhDNpRlf1uKSqSYpNXkMu18Fg&oe=655C69D9" alt="" class="ljpic">
<h1 class="cliff-h1">Welcome to the Home Page</h1>
<p class="ljp">This is the home view of the SPA.</p>
</div> 