<div class="ljbg">
    <h1 class="ljhead">Project</h1>
    <div class="row">
        <div class="col" style="background-color: black; color: yellow;">
           <h3>First Year</h3>
           <h4>First Semester</h4>
           <p>Simple Calculator</p>
           <img src="img\Screenshot (245).png" alt="" class="ljpic">
        </div>
        <div class="col" style="background-color: black; color: yellow;">
            <h3>First Year</h3>
            <h4>Second Semester</h4>
            <p>Making Tetris Game</p>
            <img src="img\Screenshot (246).png" alt="" class="ljpic">
        </div>
        <div class="col" style="background-color: black; color: yellow;">
            <h3>Second Year</h3>
            <h4>First Semester</h4>
            <p>Making Customer Feedback Web App</p>
            <img src="img\Screenshot (247).png" alt="" class="ljpic">
        </div>
    </div>
</div>